
/* TOOLBOX */

div:has(.toolbox){
    width: auto;
    position: fixed;
    /* bottom: 6vh; */
    display: flex;
    justify-content: center;
    height: 100%;
    right: 0;
    top: 0;
    transition: transform 0.4s ease;
    z-index: 2000;

} 
    
    

.move{
    transition: transform 0.4s ease;
    transform: translateX(100%);
    
}


.toolbox{
    display: flex;
    gap: 4vh;
    
    position: relative;
    
    border-radius: 10px;
     justify-content: center; 
    
    flex-direction: column;
    padding-right: 3vh;
    transition: transform 0.4s ease;

}

.sub-toolbox{
    position: absolute;
    bottom: 3vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}



/* ICONS */
.write, .clear, #send-trash, .up-ses, .down-ses{
    padding: 1vh;
    /*border: 1px solid;*/
    border-radius: 1.5vh;
    box-shadow: var(--box-shadow-var);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}


.icon{
    height: 5vh;
}


.ses-num{
    padding: 0;
    text-align: center;
    font-size: 3vh;
    cursor: pointer;
    height: 5vh;
    min-width: 5vh;
    padding: 0.5vh;
    border-radius: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ses-num:hover{
    box-shadow: 0px 0px 2px rgba(3, 7, 18, 0.03),
      1px 1px 8px rgba(3, 7, 18, 0.02),
      1px 2px 17px rgba(3, 7, 18, 0.02),
      3px 4px 30px rgba(3, 7, 18, 0.01),
      4px 6px 47px rgba(3, 7, 18, 0.01);

}

